<div *ngFor="let t of task" class="taskdetail">
	<h2>{{t.taskName | uppercase}} Details</h2>
	<ul class="detail">
		<li> <label>id:</label>
			<span>{{t.id}}</span>
		</li>
		<li> <label>Project Id:</label>
			<span> {{ t.projectId }}</span>
		</li>
		<li> <label> Task name:</label>
			<span> {{ t.taskName}} </span>
		</li>
		<li> <label>Person id:</label>
			<span> {{t.personId }}</span>
		</li>
		<li> <label> Cost:</label>
			<span>{{t.cost}} </span>
		</li>
		<li> <label> Start:</label>
			<span>{{t.start | date:"yyyy/MM/dd" }}</span>
		</li>
		<li> <label>End:</label>
			<span> {{ t.end | date:"yyyy/MM/dd" }}</span>
		</li>
	</ul>
	<button (click)="goBack()">go back</button>
</div>